<!-- <!DOCTYPE html>
<html lang="en">
    <head>
          {{ bootstrap.load_css() }}
        <title>
            Colorblind value converter
        </title>
    </head>
    <body>
        <form method="POST" action="/colorblind_value_converter">
            <input type="text" name="user_link" >
            <button type="submit">enter</button>
        </form>
        <h1>Sample heading!</h1>
            <a href= '/soup' class="box">text_to_speech</a>

        {{ bootstrap.load_js() }}
    </body>
</html> -->