

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text to Speech</title>
    {{ bootstrap.load_css() }}
</head>
<body>
    <div class="container mb-4">
        <div class="card mt-4">
            <div class="card-body">
                <h2 class="card_title">Enter URL for ttp</h2>
                <form method="POST" action="/">
                    {{form.csrf_token}}
                    {{form.song_title.label}}
                    {{form.song_title(size=32)}}
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</body>
</html>